[Unit]
Description=Mount CD Drive on %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/cd_mount.sh add %i
ExecStop=/bin/usb_mount.sh remove %i
