URxvt*depth:	24
URxvt*buffered: True
URxvt*geometry:	108x32
URxvt*background:	#0E1416
URxvt*foreground:	#EEEEEC
URxvt*color0:	#2E3436
URxvt*color1:	#CC0000
URxvt*color2:	#4E9A06
URxvt*color3:	#C4A000
URxvt*color4:	#3465A4
URxvt*color5:	#75507B
URxvt*color6:	#06989A
URxvt*color7:	#D3D7CF
URxvt*color8:	#555753
URxvt*color9:	#EF2929
URxvt*color10:	#8AE234
URxvt*color11:	#FCE94F
URxvt*color12:	#729FCF
URxvt*color13:	#AD7FA8
URxvt*color14:	#34E2E2
URxvt*color15:	#EEEEEC
URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1
URxvt*cursorColor:	#DD0000
URxvt*jumpScroll:	True
URxvt*skipScroll:	True
URxvt*transparent:	False
URxvt*fading:	0
URxvt*fadeColor: black
URxvt*font: xft:xos4 Terminus:Style=Regular:size=14
URxvt*boldFont: xft:xos4 Terminus:Style=Regular:size=14
URxvt*italicFont: 
!URxvt*boldItalicFont: 
!URxvt*iconFile: /usr/share/pixmaps/urxvt_32x32.xpm
URxvt*internalBorder: 1
URxvt*letterSpace: 0 
URxvt*lineSpace: 0
URxvt*title:	Terminal
URxvt*scrollBar:	False
URxvt*scrollTtyOutput:	False
URxvt*scrollWithBuffer:	True
URxvt*scrollTtyKeypress:	True
URxvt*saveLines:	100000
URxvt*mouseWheelScrollPage:	False
URxvt*pastableTabs:	True
URxvt*cursorBlink:	True
URxvt*pointerBlank:	True
URxvt*pointerBlankDelay: 1
URxvt*tintColor:	#000000
URxvt*utmpInhibit: false
URxvt.termName:	rxvt-unicode-256color
URxvt.urgentOnBell: True
URxvt.thickness: 2
URxvt.modifier: alt
URxvt.meta8: False
URxvt.deletekey: \033[3~
URxvt.backspacekey: DEC
URxvt.secondaryScreen: True
URxvt.secondaryScroll: False
URxvt.cursorUnderline: True
URxvt.iso14755: True
URxvt.iso14755_52: True
URxvt.searchable-scrollback: C-S
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.C-BackSpace: \033[35~
URxvt.keysym.Undo: \033[36~
